@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

:root {
    --color-primary: #0492C2;
    --color-secondary: #045298;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto;
}

ol, ul {
    list-style: none;
}

main {
    background-color: #EBECF0;
}

/* Animations */

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slide-in {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
}

.slide-in.appear {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* Header */

header {
    background-color: var(--color-primary);
    color: white;
    padding: 1em;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
}

.header__heading {
    animation: fadeInHeader 1s ease-out;
    animation-fill-mode: forwards;
    font-family: Estonia;
    font-size: 2.2em;
}

.header__navigation-links {
    animation: fadeInNavigation 1s ease-out;
    animation-fill-mode: forwards;
}

.mobile-menu-icon {
    animation: fadeInNavigation 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeInHeader {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInNavigation {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__subheading {
    font-size: 0.6em;
}

.header__navigation-links {
    display: none;
    font-size: 1.2rem;
    justify-self: flex-end;
}

.header__navigation-link {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
.header__navigation-link:hover {
    color: #00FFFF;
}

/* Mobile Menu */

.mobile-menu {
    background-color: var(--color-secondary);
    color: white;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    text-align: center;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}
.mobile-menu li {
    margin: 40px 0;
}
.mobile-menu a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.mobile-menu a:hover {
    color: #08E8F0;
}

.mobile-menu-icon {
    width: 40px;
    z-index: 2;
}

.mobile-menu-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.mobile-menu__navigation-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.mobile-menu__navigation-links li:nth-child(1) {
    opacity: 0;
    position: absolute;
    top: 40px;
    transition: opacity 0.5s linear 0.1s, top 0.5s linear 0.1s;
}
.mobile-menu__navigation-links li:nth-child(2) {
    opacity: 0;
    transition: opacity 0.5s linear 0.2s, top 0.5s linear 0.2s;
    position: absolute;
    top: 100px;
}
.mobile-menu__navigation-links li:nth-child(3) {
    opacity: 0;
    transition: opacity 0.5s linear 0.3s, top 0.5s linear 0.3s;
    position: absolute;
    top: 160px;
}
.mobile-menu__navigation-links li:nth-child(4) {
    opacity: 0;
    transition: opacity 0.5s linear 0.4s, top 0.5s linear 0.4s;
    position: absolute;
    top: 220px;
}

/* Hero */

.hero {
    background-image: url('images/laptop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    min-height: 400px;
    position: relative;
    text-align: center;
}

.hero__layer {
    animation: hero-layer-change-color 1s ease-in;
    -webkit-animation: hero-layer-change-color 0.75s ease-in;
    animation-fill-mode: forwards;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.hero strong {
    color: #00FFFF;
}

.hero__heading {
    color: white;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.hero p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.hero p:nth-child(2) {
    animation: hero-fade-in 0.5s ease-in;
    -webkit-animation: hero-fade-in 0.5s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}
.hero p:nth-child(3) {
    animation: hero-fade-in 0.5s ease-in;
    -webkit-animation: hero-fade-in 0.5s ease-in;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.hero p:nth-child(4) {
    animation: hero-fade-in 0.5s ease-in;
    -webkit-animation: hero-fade-in 0.5s ease-in;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hero__call-to-action {
    animation: hero-fade-in 0.5s ease-in;
    -webkit-animation: hero-fade-in 0.5s ease-in;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    background-color: var(--color-secondary);
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}
.hero__call-to-action:hover {
    background-color: var(--color-primary);
}

@keyframes hero-layer-change-color {
    from { background-color: rgba(0, 0, 0, 0) }
    to { background-color: rgba(0, 0, 0, 0.7); }
}

@keyframes hero-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Project Image Modal */

.project__image-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.project__image-modal-image-container {
    max-width: 1200px;
    width: 90%;
    position: relative;
}

.project__image-modal-image-container img {
    width: 100%;
}

.project__image-modal-close {
    background-color: black;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 5px;
}
.project__image-modal-close {
    cursor: pointer;
}

/* Personal Projects */

.projects {
    align-items: center;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
}

.projects__heading {
    color: white;
}

.project {
    background-color: white;
    margin: 20px;
    max-width: 1600px;
}

.project__heading {
    background-color: #86CDCB;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 0;
}

.project__container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.project__images-container {
    padding-top: 10px;
}

.project__images-instruction {
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

.expandedImage {
    border: 1px solid black;
    display: none;
    width: 100%;
}
.expandedImage:hover {
    cursor: pointer;
}

.fadeExpandedImage {
    -webkit-animation-name: fadeInExpandedImage;
    animation-name: fadeInExpandedImage;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: forwards;
    animation-fill-mode: forwards;
}

@keyframes fadeInExpandedImage {
    from {opacity: 0.2}
    to {opacity: 1}
}
@-webkit-keyframes fadeInExpandedImage {
    from {opacity: 0.2}
    to {opacity: 1}
}

.image-tabs {
    background-color: #D8D8D8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
}

.image-tab-container {
    width: 32%;
}

.image-tab {
    cursor: pointer;
    width: 100%;
}

.image-tab-active {
    border: 1px solid black;
}

.image-tab__arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.image-tab__arrow-container {
    opacity: 0;
    width: 32%;
}

.image-tab__arrow--active {
    opacity: 100;
}

.project__details {
    padding: 20px 0;
    text-align: left;
}
.project__details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.project__link {
    background-color: #0000B2;
    border-radius: 10px;
    color: white;
    display: inline-block;
    margin: 10px 15px 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.project__link:hover {
    background-color: #0000FF;
}

.project__accordion {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.fa-angle-down {
    display: none;
}

.project__features-container {
    margin-top: 10px;
}
.project__features {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.project__features li {
    font-size: 16px;
    margin: 0 0 12px 15px;
}

/* Skills */

.skills {
    padding: 20px;
}

.skills__container {
    margin: 0 auto;
    max-width: 1100px;
}

.skills__heading {
    margin-bottom: 20px;
    text-align: center;
}

.skills__description {
    margin-bottom: 20px;
}

.tab-links-container {
    display: flex;
    text-align:left;
}

.tab-links {
    background-color: var(--color-secondary);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 0 10px 0 0;
    padding: 1em;
    transition: background-color 250ms;
}
.tab-links:hover {
    background-color: var(--color-primary);
}
.tab-links.active {
    background-color: var(--color-primary);
}

.tab-links:nth-child(1) {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
}
.tab-links:nth-child(2) {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    transition-delay: 150ms;
    opacity: 0;
}
.tab-links:nth-child(3) {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    transition-delay: 300ms;
    opacity: 0;
}

.tab-links.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.skills-tab-content {
    background-color: white;
    min-height: 300px;
    padding: 1em;
}
.skills-tab-content ul {
    line-height: 2em;
    text-align:left;
}

.backend-skills {
    display: none;
}

.tools {
    display: none;
}

/* Posts */

.pagination {
    background-color: white;
    font-size: 1rem;
    margin: 20px auto 5px auto;
    max-width: 1100px;
    padding: 20px;
}

.pagination__button {
    background-color: var(--color-secondary);
    color: white;
    font-size: 1rem;
    margin-right: 5px;
    padding: 10px 15px;
}
.pagination__button:hover {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}
.pagination__button--selected {
    background-color: var(--color-primary);
}

.pagination__results {
    font-size: 0.8rem;
    margin-top: 10px;
}

.posts {
    min-height: 60vh;
    padding: 20px;
}

.posts__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 30px 20px;
}
.post:last-of-type {
    border: none;
}

.post__heading {
    color: var(--color-secondary);
    margin-bottom: 10px;
}

.post__date {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 30px;
}

.post__content p {
    line-height: 1.5rem;
    margin-bottom: 20px;
}
.post__content a {
    text-decoration: none;
}
.post__content a:hover {
    text-decoration: underline;
}

/* About */

.about {
    padding: 20px;
}

.about__container {
    margin: 0 auto;
    max-width: 1100px;
}

.about__content {
    background-color: white;
    padding: 1em;
    text-align: left;
}
.about__content p {
    line-height: 2em;
    margin-bottom: 20px;
}

.about__heading {
    border-bottom: 1px solid var(--color-secondary);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: var(--color-secondary);
    color: white;
}

.footer__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
}

footer h2 {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul li {
    margin-bottom: 0.8em;
}

.footer-section {
    margin-bottom: 20px;
}

@media only screen and (min-width: 350px) {

    /* Header */

    .header__heading {
        font-size: 2.5em;
    }

    /* Hero */

    .hero {
        background-image: url('images/laptop.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
        min-height: 500px;
        position: relative;
        text-align: center;
    }
    
    .hero strong {
        color: #00FFFF;
    }
    
    .hero__heading {
        color: white;
        font-size: 1.75em;
        margin-bottom: 2em;
    }
    
    .hero p {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 1.5em;
    }

}

@media only screen and (min-width: 500px) {

    /* Header */
    
    .header__navigation-links {
        display: block;
    }

    .mobile-menu-icon {
        display: none;
    }

    /* Hero */

    .hero {
        background-size: 100%;
        min-height: 360px;
    }

    .hero__heading {
        font-size: 1.75em;
        margin-bottom: 1.25em;
    }

    /* Personal Projects */

    .project {
        margin-bottom: 60px;
    }

    .project__heading {
        padding: 20px 0;
    }

    .project__container {
        flex-direction: row;
    }

    .project__images-container {
        width: 60%;
    }

    .project__details {
        margin-left: 20px;
        padding-left: 20px;
        width: 40%;
    }

    .project__details p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .project__link {
        margin: 10px 15px 10px 0;
    }

    .project__accordion {
        margin-bottom: 20px;
    }

    .project__features-container {
        margin-top: 20px;
    }
    .project__features {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .project__features li {
        font-size: 16px;
        margin: 0 0 20px 15px;
    }

    /* Posts */

    /* Footer */

    .footer__container {
        flex-direction: row;
    }

    .footer-section {
        margin-right: 60px;
    }

    .footer-section h2 {
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 600px) {
    
    /* About */

    .about__heading {
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 768px) {

    html {
        font-size: 1.5rem;
    }

    section {
        padding: 3em;
    }

    .projects__heading {
        padding: 25px 0;
    }

    /* Header */

    .header__navigation-links {
        font-size: 1rem;
    }

    /* Hero */

    .hero {
        min-height: 500px;
    }

    .hero__heading {
        font-size: 1.8em;
    }

    .hero__call-to-action {
        padding: 20px;
    }

    /* Personal Projects */

    .project__features li {
        font-size: 20px;
    }

    .project__images-container {
        width: 50%;
    }

    .project__details {
        width: 50%;
    }

    /* Skills */

    .skills-tab-content {
        min-height: 500px;
    }

    /* Posts */

    /* Footer */

    .footer-section {
        margin-right: 100px;
    }

}

@media only screen and (min-width: 1300px) {

    /* Hero */

    .hero {
        min-height: 700px;
    }

    .hero__heading {
        font-size: 2.2em;
        margin-bottom: 1.6em;
    }

    .hero p {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    /* Posts */

}

@media only screen and (min-width: 1900px) {

    /* Hero */

    .hero {
        min-height: 850px;
    }

    .hero__heading {
        font-size: 2.5em;
        margin-bottom: 1.6em;
    }

    .hero p {
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    .hero__call-to-action {
        font-size: 1.5rem;
        padding: 30px;
    }

    /* Personal Projects */

    .project {
        min-width: 800px;
    }

}