@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

:root {
    --color-primary: #0492C2;
    --color-secondary: #045298;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto;
}

h2 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

ol, ul {
    list-style: none;
}

main {
    background-color: #EBECF0;
}

section {
    padding: 1em;
    text-align: center;
}

/* Animations */

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slide-in {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
}

.slide-in.appear {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* Header */

header {
    background-color: var(--color-primary);
    color: white;
    padding: 1em;
}

.page-heading {
    font-family: Estonia;
    font-size: 2.5em;
}

.page-subheading {
    font-size: 0.6em;
}

/* Hero */

.hero {
    -webkit-animation: fade-in 1s ease-in;
    animation: fade-in 1s ease-in;
}

.hero strong {
    color: var(--color-secondary);
}

.hero-heading {
    font-size: 1.25em;
}

/* Personal Projects */

.personal-project-showcase {
    background-color: var(--color-secondary);
}

.personal-projects h2 {
    color: white;
}

.personal-project {
    background-color: white;
    border-radius: 20px;
    margin: 0 auto 2em auto;
    max-width: 550px;
}

.personal-project__head {
    background-color: orange;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}

.personal-project__body {
    padding: 1em;
}

.personal-project__details {
    margin-bottom: 2em;
}

.personal-project_details a {
    display: inline;
    padding: 0;
}

.personal-project__link {
    background-color: orange;
    border-radius: 10px;
    color: black;
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
}

.personal-project__link:hover {
    background-color: #FFC87C;
    border-radius: 10px;
    color: black;
    display: inline-block;
    text-decoration: none;
}

/* Skills */

.skills ul {
    line-height: 2em;
    text-align:left;
}

/* Footer */

footer {
    background-color: var(--color-secondary);
    color: white;
    padding: 1em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul li {
    margin-bottom: 0.8em;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.5rem;
    }

    section {
        padding: 3em;
    }

    .personal-project ul {
        font-size: 20px;
    }
}